body {
  display: grid;
  background-color: lightyellow;
  padding: 0px;
}

h1 {
  color: blue;
  text-decoration: underline black;
}

form label {
  margin-top:12px;
  font-weight: normal;
  color: green;
  text-decoration: underline black;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
}

li {
  border: darkblue 2px solid;
  background-color: lightblue;
  width: auto;
  padding: 0px;
  margin: 10px;
  text-align: center;
  list-style: none;
}
