body {
  display: grid;
  background-color: lightyellow;
}

h1 {
  color: blue;
}

form label {
  margin-top:12px;
  font-weight: normal;
  color: green;
  text-decoration: underline black;
}

li {
  border: darkblue 2px solid;
}
