body {
  background-color: #8ec3eb;
}

h1 {
  color: blue;
  text-decoration: underline black;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 2px solid black;
}

li {
  background: #2a6592;
  padding: 5px;
  width: 250px;
  margin: 20px;
  list-style: none;

  color: white;
  text-align: center;
  border: 2px solid red;
}

#form-names-and-dance {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: space-around;
}

#alcohol-and-stand-up {
  display: flex;
  margin-right: 10px;
  justify-content: space-around;

}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
